<nav class="navbar">
    <div class="navbar-links">
        <button routerLink="bird" class="navbar-btn">Registrar Ave</button>
        <button routerLink="pinguino" class="navbar-btn">Registrar Pinguino</button>
        <button routerLink="aguila" class="navbar-btn">Registrar Aguila</button>
        <button routerLink="gaviota" class="navbar-btn">Registrar Gaviota</button>
        <button routerLink="amazonica" class="navbar-btn">Registrar Amazonica</button>
        <button routerLink="nocturna" class="navbar-btn">Registrar Nocturna</button>
    </div>
</nav>